.bgn {
  text-align: center;
  box-sizing: content-box;
  background-color: rgb(245, 245, 247);
  font-size: 12px;

}

.endnote {
  display: inline-block;
  text-align: left;
  line-height: 20px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: rgb(106, 106, 110);
  border-bottom: 1px solid rgb(205, 205, 207);
}

.border {
  border-bottom: 1px solid rgb(205, 205, 207)
}

.custom1 {
  display: flex;
}

.custom1 ul {
  color: rgb(98, 98, 102);
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 70px;
  list-style-type: none;
  line-height: 27px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.store-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mac-link:hover {
  cursor: pointer;
  text-decoration: underline;
}